<!DOCTYPE html>
<html>
    <head>
        <title>Leave management</title>
    </head>
    <body>
        <header>
            <h1><a href="/">leave management system</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Decline</a></h2>
            <p>Make sure to take your leave days by june 2022 </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Approve</a></h2>
        </article>
    </body>
</html>